.home {
  min-height: 100vh;
  background: var(--bg-secondary);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.home_middle {
  margin-top: 56px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 40px;
  width: 45% !important;
}

@media (max-width: 1175px) {
  .home_middle {
    width: 60% !important;
  }
  .createPost,
  .post,
  .send_verification {
    width: 83%;
  }
  .stories {
    width: 83%;
  }
  .home_middle {
    margin-left: 5%;
  }
  .right_home {
    width: 10vw;
  }

  .white_circle {
    margin-right: 15px;
  }
}

@media (max-width: 1030px) {
  /* .stories,
  .createPost {
    width: 84%;
  } */
  .left_home .left_link span,
  .left_home .left_link .col,
  .shortcut,
  .shortcut_item span,
  .splitter {
    display: none;
  }
  .left_home {
    width: 70px;
  }
  .left_link {
    background: var(--bg-third);
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: grid;
    place-items: center;
  }
  .fb_copyright {
    display: none;
  }

  .home_middle {
    position: relative;
    margin-left: 60px;
    width: 83% !important;
  }

  .right_home {
    width: 20vw;
  }

  .contacts_header {
    right: 10%;
  }
  .contact_circle {
    width: 20px;
  }
  .stories,
  .createPost,
  .post,
  .send_verification {
    width: 100%;
  }
  .white_circle {
    margin-right: 7px;
  }

  .reset_form {
    width: 40vw;
  }
}

@media (max-width: 965px) {
  .createPost,
  .post,
  .send_verification {
    width: 93%;
  }
  .stories {
    width: 98%;
  }

  .home_middle {
    margin-left: 10%;
  }
  .right_home {
    left: 78%;
    width: 20vw;
  }
  .splitter1 {
    width: 20vw;
  }
  .contact_circle {
    width: 30px;
  }
  .contacts_header {
    right: 0;
  }
  .white_circle {
    margin-right: 50px;
  }
}

@media (max-width: 885px) {
  .right_home {
    display: none;
  }

  .createPost,
  .post,
  .send_verification {
    width: 111%;
  }
  .stories {
    width: 111%;
  }

  .white_circle {
    margin-right: 20px;
  }
}

@media (max-width: 805px) {
  .stories {
    grid-template-columns: repeat(6, 13vw);
  }
  .story_profile_name,
  .create_story_text {
    display: none;
  }

  .create_story_card {
    filter: brightness(96%);
  }
  .stories .white_circle {
    right: -10px;
  }
  .story_profile_pic {
    width: 7vw;
    height: 7vw;
  }
  .left_home::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 620px) {
  .left_home {
    display: none;
  }

  .home_middle {
    position: absolute;
    margin-left: 0;
  }
  .createPost,
  .post,
  .send_verification {
    width: 100%;
  }
  .stories {
    width: 100%;
  }

  .stories .white_circle {
    display: none;
  }

  .story,
  .create_story_card {
    height: 30vw;
  }

  .createPost_icon {
    font-size: 16px;
  }
  .open_post {
    font-size: 16px;
  }

  .createPost_icon svg {
    width: 20px;
  }

  .plus_story {
    width: 7vw;
    height: 7vw;
  }
}

@media (max-width: 400px) {
  .home_middle {
    width: 100vw !important;

    left: 61%;
  }
  .createPost,
  .post {
    margin-top: 1rem;
    width: 100% !important;
  }
  .create_post,
  .post {
    width: 100% !important;
    margin: 1rem auto !important;
  }

  .send_verification {
    width: 100% !important;
    margin: 0 auto;
  }

  .createPost_icon {
    font-size: 14px;
  }
  .open_post {
    font-size: 14px;
  }
  .home_middle {
    transform: translateX(-66%);
    width: 80%;
    margin-left: 20px;
    margin-right: 30px;
  }

  .stories,
  .createPost,
  .post,
  .send_verification {
    width: 100% !important;
    margin: 0 auto;
  }

  .createPost,
  .post {
    margin-top: 1rem;
  }

  .stories {
    grid-template-columns: repeat(6, 13vw);
    padding-left: 10px;
  }
}

.popup {
  position: relative;
  box-shadow: 0 1px 2px var(--shadow-1);
  width: 30vw;
  height: 200px;
  top: 35%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  background: var(--bg-primary);
  border-radius: 10px;
}

.popup_header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  border-bottom: 1px solid var(--bg-third);
  padding: 15px;
}

.popup_message {
}

.error_text {
  color: red;
}

@media (max-width: 805px) {
  .popup {
    width: 65vw;
  }
}
